body {
    background-image: url("photo1/back.jpg");
    color: #000305;
    font-size: 87%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1,5;
    text-align: left;
}
a{
    text-decoration: none;
}
a:link , a:visited{color: #e74c3c;}
a:hover,a:active {color: #f58233;}
.body{
    margin: 10px auto;
    width: 70%;
    clear: both;
}
.main1 img {
    width:100%;
}
.main1 nav{
    background-color: #e74c3c;
    height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.main1 nav ul{
    text-align: center;
    list-style: none;
    margin: 0 auto;
}
.main1 nav ul li {
    display:inline;
}
.main1 a:link, .menu, a:visited{
    color: white;
    padding: 10px 40px;
    display: inline-block;
    height: 20px;
}
.main1 a:hover, .main1, a:active{
    color: white;
    background-color:#f58233 ;
}
.top-content{
    background-color:#fff;
    padding: 3%;
    margin-top: 3%;
    border-radius: 5px;
}
.post-info{
    font-size: 90%;
    color: #999;
    font-style: italic;
    margin-top: 1%;

}
h2{
    padding:10px;
    color: #e74c3c ;
}
*